.main {
    width: 300px;
    margin: 10px;
    background-color: white;
}

.main > p {
    margin: 10px 0 0 10px;
    text-align: left;
}

.main > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: auto;
    margin-top: 10px;
}

.main > div:nth-child(3) > div {
    border: 1px solid rgb(204, 204, 204);
    width: 35%;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
}

.rating {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0 0 10px;
}

.rating > p {
    margin-bottom: 5px;
}

.rating > div > label {
    font-size: 13px;
}