.main {
    text-align: left;
}

.main > p:nth-child(1) {
    margin: 0;
    font-weight: 500;
    color: rgb(139, 139, 139);
    font-size: 18px;
}

.main > p:nth-child(2) {
    margin: 2px 0;
    font-size: 15px;
}

.main > p:nth-child(3) {
    color: rgb(38, 165, 65);
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
}

.main > p:nth-child(4) {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.main > div:nth-child(5) {
    display: flex;
}

.main > div:nth-child(5) > div:nth-child(1) {
    background-color: rgb(38, 165, 65);
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
}

.main > div:nth-child(5) > div:nth-child(2) {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin-top: 2px;
}

.main > div:nth-child(5) > img:nth-child(3) {
    height: 15px;
    margin: 6px 0 0 10px;
}

.main > p:nth-child(6) {
    font-size: 14px;
    font-weight: 500;
    margin: 14px 0 5px;
}

.main > p:nth-child(7) {
    font-size: 12px;
    margin: 10px 0 0;
}

.main > p:nth-child(8) {
    font-size: 14px;
    font-weight: 500;
    margin: 14px 0 5px;
}

.main > p:nth-child(9), .main > p:nth-child(10), .main > p:nth-child(11) {
    font-size: 12px;
    margin: 10px 0 0;
}

.main > div:nth-child(12) {
    display: flex;
    margin-top: 12px;
}

.main > div:nth-child(12) > div {
    width: 50%;
}


.main > div:nth-child(12) > div:nth-child(1) > div {
    font-size: 14px;
    color: grey;
    font-weight: 500;
    margin-top: 10px;
}

.main > div:nth-child(12) > div:nth-child(1) > input {
    margin: 10px 0;
    width: 80%;
    height: 30px;
    padding-left: 10px;
}

.main > div:nth-child(12) > div:nth-child(1) > p:nth-child(3) {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

.main > div:nth-child(12) > div:nth-child(1) > p:nth-child(4) {
    margin: 5px 0;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    color: rgb(40, 116, 240);
}

.main > div:nth-child(12) > div:nth-child(2) {
    display: flex;
}

.main > div:nth-child(12) > div:nth-child(2) > div:nth-child(1) > p {
    font-weight: 500;
    color: rgb(139, 139, 139);
    font-size: 13px;
}

.main > div:nth-child(12) > div:nth-child(2) > div:nth-child(2) {
    margin-left: 40px;
}

.main > div:nth-child(12) > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
    margin-top: 13px;
}

.main > div:nth-child(12) > div:nth-child(2) > div:nth-child(2) > p {
    font-size: 13px;
    margin: 5px 0;
}